[Unit]
Description=Run DevLog sync every 3 hours

[Timer]
OnCalendar=*-*-* 00/3:00:00
AccuracySec=1min
Persistent=true
Unit=devlog-sync.service

[Install]
WantedBy=timers.target
